body{
    background-color: #050808;
}
    .icon {
        margin-bottom: 50px;
        margin-left: 745px;
        width: 170px;
        height: 170px;
        border-radius: 76%;
        object-fit: cover;
        border: 5px solid #ccc;  
    }
  h2.name{
    font-size: 2.5em;
    text-align: center;
    color: cornsilk;
  }
  div.text{
    font-family: Verdana;
    font-size: 1.2em;
    color: cornsilk;
  }
  h3.header{
    font-size: 2.5em;
    text-align: center;
    color: cornsilk;
  }

 img.hacker{
  width: 775px;
  height: 750x;
  margin-left: 450px;
 }



